<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="logDebugPath" value="D:\WorkSpace\Logs\SnookerQuizer\logDebug.txt" />
		<add key="logErrorPath" value="D:\WorkSpace\Logs\SnookerQuizer\logError.txt" />
		<add key="SnookerApiUrl" value="http://api.snooker.org" />
	</appSettings>
</configuration>