<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="logDebugPath" value="D:\WorkSpace\Logs\SnookerQuizer\logDebug.txt" />
		<add key="logErrorPath" value="D:\WorkSpace\Logs\SnookerQuizer\logError.txt" />

		<add key="DataRootFolder" value="D:\WorkSpace\Data\SnookerQuizer\World Championship 2021" />
		<!-- 842 2019 World Champion-->
		<add key="Event" value="1098" /> 
		
		<!-- Snooker API Info-->
		<!-- Example: api.snooker.org/?e=398 (Shanghai Masters Qualifiers 2015) -->
		<add key="SnookerAPI.EventUrl" value="http://api.snooker.org/?e={0}" />
		<!-- Example: api.snooker.org/?p=1 (Mark J Williams) -->
		<add key="SnookerAPI.PlayerUrl" value="http://api.snooker.org/?p={0}" />
		<!-- Example: api.snooker.org/?e=397&amp;r=1&amp;n=5 (Riga Open 2015, qual round 1, Mulholland v Arpat) -->
		<add key="SnookerAPI.MatchUrl" value="http://api.snooker.org/?e={0}&amp;r={1}&amp;n={2}" />
		<!-- Example: api.snooker.org/?t=5&amp;s=2015 (2015/2016) -->
		<add key="SnookerAPI.EventsInSeasonUrl" value="http://api.snooker.org/?t=5&amp;s={0}" />
		<!-- Example: api.snooker.org/?t=6&amp;e=398 (Shanghai Masters qualifiers) -->
		<add key="SnookerAPI.MatchsInEventUrl" value="http://api.snooker.org/?t=6&amp;e={0}" />
		<!-- Example: api.snooker.org/?t=7 -->
		<add key="SnookerAPI.OnGoingMatchUrl" value="http://api.snooker.org/?t=7" />
		<!-- Example: api.snooker.org/?t=9&amp;e=403 (Shanghai Masters 2015) -->
		<add key="SnookerAPI.PlayersInEventUrl" value="http://api.snooker.org/?t=9&amp;e={0}" />
		<!-- Example: api.snooker.org/?t=10&amp;st=p&amp;s=2015 (Pro players in 2015) -->
		<add key="SnookerAPI.PlayersInSeasonUrl" value="http://api.snooker.org/?t=10&amp;st=p&amp;s={0}" /> 
		
	</appSettings>
</configuration>